<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hassan's Twitter App</title>
</head>
<body>
<a href="/">Show All Messages</a><br />
Message :<span th:text="${message.content}"></span><br/>
Posted Date :<span th:text="${message.postedDate}"></span><br/>
Sent by :<span th:text="${message.sentBy}"></span><br/>
Image : <img th:src="${message.messageImg}" /> <br/>


<a th:href="@{/messagedelete/{id}(id=${message.id})}">Delete this message</a>
</body>
</html>